<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>ISP</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/plotly-2.27.0.min.js"></script>
    
    <meta name="theme-color" content="#712cf9">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">
  </head>

  <body class="d-flex h-100 text-center text-bg-dark">    
        
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div style="text-align: center;">
                <h3>Indoor Positioning System</h3>
            </div>
            <div>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0" href="index">Home</a>
                    <a class="nav-link fw-bold py-1 px-0"  href="sm?k=b">Single Measure</a>
                    <a class="nav-link fw-bold py-1 px-0" href="cali">Calibrazione [DEPRECATED]</a>
                    <a class="nav-link fw-bold py-1 px-0" href="meas">New Measure</a>
                    <a class="nav-link fw-bold py-1 px-0" href="datx">View Data</a>
                    <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="live">Live Measure</a>
                    <a class="nav-link fw-bold py-1 px-0" href="dwmisu">Download Measurements</a>
                    <a class="nav-link fw-bold py-1 px-0" href="config">Configuration</a>
                    <a class="nav-link fw-bold py-1 px-0" href="nuova_calibrazione">Box Calibration</a>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>Misurazione Live</h1>
                <p class="lead" id="mx">X :  - µT </p>
                <p class="lead" id="my">Y :  - µT </p>
                <p class="lead" id="mz">Z :  - µT </p>
                <p class="lead" id="mc">CM :  - µT </p>
                
                <h3>Inserisci l'intervallo di campionamento</h3>
                <div class="row" style="margin:10px">
                     <div class="form-row">
                        <select class="form-control" name="sample-interval" id="interval-selector" onchange="cambia_intervallo()">
                            <option value="2">2 Secondi</option>
                            <option value="1">1 Secondo</option>
                            <option value="5">5 Secondi</option>
                            <option value="10">10 Secondi</option>
                            <option value="15">15 Secondi</option>
                        </select>
                      </div>               
                </div>
                
                <div id="my-plot"></div>
                
        </main>
        <footer class="mt-auto text-white-50">
            <p>Create by  <p class="text-white">Papa Andrea Valentino </p></p>
        </footer>
    </div>

    <script>
        
        const my_test = document.getElementById("my-plot");
        
        const layout = {
            title:"Magnetic Measurement",
            xaxis:{
                title:"# Sample"
            },
            uirevision:"my-const-revision-name"
        };
              
        const k = 'a';
        const mc = document.getElementById("mc");
        const mx = document.getElementById("mx");
        const my = document.getElementById("my");
        const mz = document.getElementById("mz");
        const temp = 2000;
        
        const interval_selector = document.getElementById("interval-selector");
        
        const magnetic_x_values = [];
        const magnetic_y_values = [];
        const magnetic_z_values = [];
        const magnetic_module_values = [];
        const timeline = [];
        
        var current_time = 0;
        var current_interval = 2;
        
        const url = "/sm?" + new URLSearchParams({k});
                
        function update()
        {        
            fetch(url)
            .then((response) => {
                if(!response.ok){
                throw new Error(`HTTP error ${response.status}`);
                }
                return response.text();
            })
            .then((data) => {
                //console.log(data);
                mydata = JSON.parse(data);
                mx.textContent ="X :  "+ mydata.x +" µT ";
                my.textContent ="Y :  "+ mydata.y +" µT ";
                mz.textContent ="Z :  "+ mydata.z +" µT ";
                mc.textContent ="CM :  "+ mydata.c +" µT ";
                
                timeline.push(magnetic_x_values.length);
                //timeline.push(current_time);
                
                magnetic_x_values.push(parseFloat(mydata.x));
                magnetic_y_values.push(parseFloat(mydata.y));
                magnetic_z_values.push(parseFloat(mydata.z));
                magnetic_module_values.push(parseFloat(mydata.c));
                
                const x_graph_data = magnetic_x_values.slice();
                const y_graph_data = magnetic_y_values.slice();
                const z_graph_data = magnetic_z_values.slice();
                const module_graph_data = magnetic_module_values.slice();
                
                Plotly.react(my_test, 
                    [
                        {x:timeline, y:x_graph_data, name:"X Component (µT)"},
                        {x:timeline, y:y_graph_data, name:"Y Component (µT)"},
                        {x:timeline, y:z_graph_data, name:"Z Component (µT)"},
                        {x:timeline, y:module_graph_data, name:"CM (µT)"}
                    ],
                    layout
                );
                
                current_time += current_interval;
                
            })
            .catch((error) => {
                console.log(error);
            });
        }
        
        update();
        
        var interval_id = setInterval(update, 2000);
        
        function cambia_intervallo()
        {
            current_interval = parseInt(interval_selector.value);
            
            var requested_interval = current_interval*1000;
            
            clearInterval(interval_id);
            interval_id = setInterval(update, requested_interval);
           
            console.log(requested_interval);
        }
        
        
    </script>
  </body>
</html>
