<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>ISP</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <meta name="theme-color" content="#712cf9">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">
  </head>

  <body class="d-flex h-100 text-center text-bg-dark">    
        
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div style="text-align: center;">
                <h3>Indoor Positioning System</h3>
            </div>
            <div>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0" href="index">Home</a>
                    <a class="nav-link fw-bold py-1 px-0"  href="sm?k=b">Single Measure</a>
                    <a class="nav-link fw-bold py-1 px-0" href="cali">Calibrazione [DEPRECATED]</a>
                    <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="meas">New Measure</a>
                    <a class="nav-link fw-bold py-1 px-0" href="datx">View Data</a>
                    <a class="nav-link fw-bold py-1 px-0" href="live">Live Measure</a>
                    <a class="nav-link fw-bold py-1 px-0" href="dwmisu">Download Measurements</a>
                    <a class="nav-link fw-bold py-1 px-0" href="config">Configuration</a>
                    <a class="nav-link fw-bold py-1 px-0" href="nuova_calibrazione">Box Calibration</a>
                </nav>
            </div>
        </header>
        <main class="px-3">
          <h1>Misurazione</h1>
            <div class="row" id="img">
              <p id="token"style="display:none;">{{ token }}</p>
              <p id="wimg"style="display:none;">{{ wimg }}</p>
              <p id="himg"style="display:none;">{{ himg }}</p>
              <div id="mappa" style="display:block; position: relative; padding-left: 0px; padding-top: 0px; padding-bottom: 0px; padding-right: 0px;" >
                <img src="{{ url_for('static', filename='data/'+mappa)}}" alt="Map" width="100%" height="100%" id="screatm"/>
              </div>
            </div>
            <br>
            <br>
            <div class="row" id="tastib">
              <div class="col-1">
              </div>
              
              <div class="col-3">
                <input type="button" class="btn btn-secondary" disabled value="Annulla" id="AN"></input>
              </div>
              <div class="col-1">
              </div>
              <div class="col-3">
                <input type="button" class="btn btn-warning" value="Fine" id="END"></input>
              </div>
              <div class="col-1">
              </div>
              <div class="col-3">
                <input type="button" class="btn btn-success"  disabled value="Misura" id="OK"></input>
              </div>
              
            </div>
        </main>
        <br>
        <footer class="mt-auto text-white-50">
            <p>Create by  <p class="text-white">Papa Andrea Valentino </p></p>
        </footer>
    </div>

    <script>      
      var token = document.getElementById("token").textContent;
      var wimg = parseInt(document.getElementById("wimg").textContent);
      var himg = parseInt(document.getElementById("himg").textContent);
      var mydata;
      var visHeight, visWidth = 0;
      const btnOK = document.getElementById('OK');
      const btnAN = document.getElementById('AN');
      var punto = "z9";
      var measuring = false;
      
      start(token)
      function start(token)
      {
        const urlb = "/markers?" + new URLSearchParams({token});
        fetch(urlb)
          .then((response) => {
            if(!response.ok){
              throw new Error(`HTTP error ${response.status}`);
            }
            return response.text();
          })
          .then((data) => {
            mydata = JSON.parse(data);
            paintM();
        })
        .catch((error) => {
            // ...handle/report error...
        });
      }
  
      function paintM()
      {
        var img = document.getElementById("screatm");
        visWidth = parseInt(img.width);
        visHeight = parseInt(img.height);
        if(visHeight == 0)
        {
          visHeight = parseInt((visWidth/wimg)*himg)
        }
                
        var n = parseInt(mydata.length);
        var i;
        for(i=0; i<n; i++)
        {
            var cx = parseInt(mydata[i].x);
            var cy = parseInt(mydata[i].y);
            var xx = parseInt(cx*(visWidth/wimg))-3;
            var yy = parseInt(cy*(visHeight/himg))-3;
            var misu = mydata[i].misu;
            var id = mydata[i].idp;
            if(misu==0)
            {
              document.getElementById('mappa').innerHTML += "<div id='" + id + "' style='position: absolute; left:" + xx  + "; top: " + yy  + "; width: 6px; height: 6px; background-color: rgba(255, 0, 0, .90);' onclick='clickDiv(event);'></div>";
            }
            else
            {
              document.getElementById('mappa').innerHTML += "<div id='" + id + "' style='position: absolute; left:" + xx  + "; top: " + yy  + "; width: 6px; height: 6px; background-color: rgba(0, 255, 0, .90);' onclick='clickDiv(event);'></div>";
            }
            
        }
        
      }

      function deselezione(id)
      {
        const divtemp = document.getElementById(id);
        var n = parseInt(mydata.length);
        var i;
        for(i=0; i<n; i++)
        {
            if(id == mydata[i].idp) 
            {
              const divtemp = document.getElementById(id);
              if(mydata[i].misu == 0)
              {
                divtemp.style.backgroundColor = "rgba(255, 0, 0, .90)";
              }
              else
              {
                divtemp.style.backgroundColor = "rgba(0, 255, 0, .90)";
              }
              break;
            }
            
        }
      }

      function aggmisu(idp)
      {
        var i;
        var n = parseInt(mydata.length);
        for(i=0; i<n; i++)
        {
          var id = mydata[i].idp;
          if(idp == id)
          {
            mydata[i].misu = 1;
            const divtemp = document.getElementById(idp);
            divtemp.style.backgroundColor = "rgba(0, 255, 0, .90)";
            break;
          }
        }
        punto = "z9";
      }

      function clickDiv(event)
		  {
        // Non selezionare nessun altro punto nella mappa se è già in corso una misura
        if (measuring)
        {
          return;
        }
        
        if(punto != "z9")
        {
          deselezione(punto);
        }
			  var elementId = event.target.id;
        const divtemp = document.getElementById(elementId);
        divtemp.style.backgroundColor = "rgba(0, 0, 255, .90)";
        btnOK.disabled = false;
        btnAN.disabled = false;
			  punto = elementId;
		  }

      window.addEventListener("resize", function()
      {
        var i;
        var n = parseInt(mydata.length);
        for(i=0; i<n; i++)
        {
          var id = mydata[i].idp;
          var divtemp = document.getElementById(id);
          divtemp.remove();
        }
        paintM();
      });

      AN.addEventListener("click",function()
      {
            deselezione(punto);
            punto = "z9";  
            btnOK.disabled = true;
            btnAN.disabled = true;
      });

      OK.addEventListener("click",function()
      {
        btnOK.disabled = true;
        btnAN.disabled = true;
      
        measuring = true;
      
        const url = "/misu?" + new URLSearchParams({token, punto});
        fetch(url)
          .then((response) => {
            if(!response.ok){
              throw new Error(`HTTP error ${response.status}`);
            }
            return response.text();
          })
          .then((data) => {
            measuring = false;
            if(data == "ko")
            {
              alert("Errore - Misurazione non completata");
              deselezione(punto);
              punto = "z9";
            }
            if(data == "ok")
            {
              aggmisu(punto);
              punto = "z9";
            }
            if(data == "wko")
            {
              alert("Warning - Misurazione WiFi non effettuata");
              aggmisu(punto);
              punto = "z9";
            }
            if(data == "bko")
            {
              alert("Warning - Misurazione Bluetooth non effettuata");
              aggmisu(punto);
              punto = "z9";
            }
        })
        .catch((error) => {
          alert("Errore - Misurazione non completata");
          deselezione(punto);
          punto = "z9";
        });
      });

      END.addEventListener("click",function()
      {
        const url = "/end?" + new URLSearchParams({token});
        fetch(url)
          .then((response) => {
            if(!response.ok){
              throw new Error(`HTTP error ${response.status}`);
            }
            return response['url'];
          })
          .then((data) => {
            const url = "/pagend?" + new URLSearchParams({token});
            window.location = url;
        })
        .catch((error) => {
            // ...handle/report error...
        });
      });

      </script> 
      
  </body>

</html>
