<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>ISP</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <meta name="theme-color" content="#712cf9">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">
  </head>

  <body class="d-flex h-100 text-center text-bg-dark">    
        
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div style="text-align: center;">
                <h3>Indoor Positioning System</h3>
            </div>
            <div>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0" href="index">Home</a>
                    <a class="nav-link fw-bold py-1 px-0"  href="sm?k=b">Misurazione Singola</a>
                    <a class="nav-link fw-bold py-1 px-0" href="cali">Calibrazione</a>
                    <a class="nav-link fw-bold py-1 px-0" href="meas">New Misura</a>
                    <a class="nav-link fw-bold py-1 px-0" href="datx">Consulta Dati</a>
                    <a class="nav-link fw-bold py-1 px-0" href="live">Misurazione Live</a>
                    <a class="nav-link fw-bold py-1 px-0" href="dwmisu">Download Misurazioni</a>
                    <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="config">Configurazione</a>
                    <a class="nav-link fw-bold py-1 px-0" href="nuova_calibrazione">Nuova Calibrazione</a>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>Configurazione</h1>
            <h3>Configurazione della box</h3>
            
                <div class="row">
                  <div class="col-3">

                  </div>
                    <div class="col-6">
                        <div class="form-row">
                          <label>Output Data Rate Magnetometro</label>
                        </div>
                        <div class="form-row">
                          <select class="form-control" name="odr" id="odr">
                              <option value="625">0.625 Hz</option>
                              <option value="125">1.25 Hz</option>
                              <option value="25">2.5 Hz</option>
                              <option value="5">5 Hz</option>
                              <option value="10">10 Hz</option>
                              <option value="20">20 Hz</option>
                              <option value="40">40 Hz</option>
                              <option value="80">80 Hz</option>
                          </select>
                        </div>
                    </div>
                    <div class="col-3">
                    </div>
              </div>
              <br>
              <div class="row">
                <div class="col-3">

                </div>
                  <div class="col-6">
                      <div class="form-row">
                        <label>Calibrazione</label>
                      </div>
                      <div class="form-row">
                        <select class="form-control" name="cali" id="cali">
                            <option value="50">Easy - 50 Campioni</option>
                            <option value="100">Standard - 100 Campioni</option>
                            <option value="200">Avanzata - 200 Campioni</option>
                        </select>
                      </div>
                  </div>
                  <div class="col-3">
                  </div>
            </div>
            <br>
              <div class="row">
                <div class="col-3">

                </div>
                  <div class="col-6">
                      <div class="form-row">
                        <label>Interpolazione</label>
                      </div>
                      <div class="form-row">
                        <select class="form-control" name="inter" id="inter">
                            <option value="nearest">Nearest</option>
                            <option value="linear">Linear</option>
                            <option value="cubic">Cubic</option>
                        </select>
                      </div>
                  </div>
                  <div class="col-3">
                  </div>
            </div>
            <br>
              <div class="row">
                <div class="col-3">

                </div>
                  <div class="col-6">
                      <div class="form-row">
                        <label>Colore Map</label>
                      </div>
                      <div class="form-row">
                        <select class="form-control" name="colormap" id="colormap">
                            <option value="jet">Jet</option>
                            <option value="ocean">Ocean</option>
                            <option value="gnuplot">Gnu</option>
                        </select>
                      </div>
                  </div>
                  <div class="col-3">
                  </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">

                </div>
                  <div class="col-6">
                      <div class="form-row">
                        <label>Tempo Scansione BLE</label>
                      </div>
                      <div class="form-row">
                        <select class="form-control" name="ble" id="ble">
                            <option value="4">0.4 secondi</option>
                            <option value="13">1.3 secondi</option>
                            <option value="2">2 secondi</option>
                            <option value="3">3 secondi</option>
                            <option value="5">5 secondi</option>
                        </select>
                      </div>
                  </div>
                  <div class="col-3">
                  </div>
            </div>
            <br>
            <div class="row">
              <div class="col-1">

              </div>
                <div class="col-5">
                    <div class="form-row">
                      <label>Indirizzo Server</label>
                    </div>
                    <div class="form-row">
                      <input type="text" class="form-control" id="server" placeholder="Indirizzo Server">
                    </div>
                </div>
                <div class="col-5">
                  <div class="form-row">
                    <label>Porta Server</label>
                  </div>
                  <div class="form-row">
                    <input type="text" class="form-control" id="port" placeholder="Porta Server">
                  </div>
                </div>
              
                <div class="col-1">
                </div>
              </div>

              <br><br>
                <div class="form-row">
                  <button class="btn btn-lg btn-light fw-bold border-white bg-white" onclick="sendconf();">Salva</button>
                </div>
            
        </main>
        <footer class="mt-auto text-white-50">
            <p>Create by  <p class="text-white">Papa Andrea Valentino </p></p>
        </footer>
    </div>
  </body>

</html>

<script>
  window.onload = function() 
  {
    const odr = document.getElementById("odr");
    const cali = document.getElementById("cali");
    const inter = document.getElementById("inter");
    const colormap = document.getElementById("colormap");
    const ble = document.getElementById("ble");
    const server = document.getElementById("server");
    const port = document.getElementById("port");
    const url = "/daticonfig";
    
    fetch(url)
          .then((response) => {
            if(!response.ok){
              throw new Error(`HTTP error ${response.status}`);
            }
            return response.text();
          })
          .then((data) => {
                console.log(data);
                var mydata = JSON.parse(data);
                cali.value = mydata['cali'];
                colormap.value = mydata['colormap'];
                inter.value = mydata['inter'];
                odr.value = mydata['odr'];
                port.value = mydata['port'];
                server.value = mydata['server'];
                t=mydata['tempo'];
                if (t == 0.4)
                {
                  ble.value = "4";
                }
                else if (t == 1.3)
                {
                  ble.value = "13";
                }
                else
                {
                  ble.value = t
                }

                //sleep(3000);
                //var mydata = JSON.parse(data);
              })
            .catch((error) => {
                console.log(error);
                //sleep(3000);
                // ...handle/report error...
              });
  }




  function sendconf()
  {
    const odr = document.getElementById("odr").value;
    const cali = document.getElementById("cali").value;
    const inter = document.getElementById("inter").value;
    const colormap = document.getElementById("colormap").value;
    const ble = document.getElementById("ble").value;
    const server = document.getElementById("server").value;
    const port = document.getElementById("port").value;
    const url = "/config";

    function reboot()
    {
      const urlx = "/restart"
      fetch(urlx)
                .then((response) => {
                    if(!response.ok)
                    {
                        throw new Error(`HTTP error ${response.status}`);
                    }
                    return response.text();
                })
                .then((data) => {
                    console.log(data);
                })
                .catch((error) => {
                  // ...handle/report error...
                });
    }

    fetch(url, {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ "odr": odr, "cali":cali, "inter":inter, "colormap":colormap, "ble":ble, "server":server, "port":port })
            })
            .then((response) => {
                if(!response.ok){
                    throw new Error(`HTTP error ${response.status}`);
                }
                return response.text();
              })
            .then((data) => {
                console.log(data);
                if(data == "ok")
                {
                  var scelta = false;
                  scelta = confirm("Per attuare le modifiche è necessario il ravvio della box \nRiavviare?");
                  if(scelta)
                  {
                   reboot();
                  }
                }
                
              })
            .catch((error) => {
                console.log(error);
              });

  }

  function sleep(milliseconds)
    {
        const date = Date.now();
        let currentDate = null;
        do
        {
            currentDate = Date.now();
        }while(currentDate - date < milliseconds);
    }
</script>
